<% content_for :title do %>MIT Model United Nations Conference<% end %>
<div class="container container-main text-muted">
  <div class="row">
    <div class="col">
      <h1 id="letter-title" class="h2 text-center">Letter from the Secretary-General</h1>
      <hr />
      <%= render file: "../assets/content/secretary_letter.html" %>
    </div>
  </div>
  <div class="text-secondary">
    <!-- <img class="sec-pic" src="http://www.babybedding.com/images/fabric/silver-gray-minky-fabric_medium.jpg"></img> -->
  </div>
</div>
<div class="jumbotron jumbotron-fluid img-footer">
  <img src="https://taj.tajhotels.com/content/dam/luxury/hotels/Taj_Boston/images/16x7/Boston_Harbor.jpg" alt="Boston Harbor" />
</div>
