<% content_for :title do %>MIT Model United Nations Conference<% end %>
<div class="container container-main">
  <div class="row">
    <div class="col">
      <h1 class="title">Letter from the Secretaries-General</h1>
      <%= render file: "../assets/content/secretary_letter.html" %>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-highlight">
  <img alt="Panoramic Boston" src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Panoramic_Boston.jpg">
  <div class="img-attribution">
    Photo by Henry Han (hequals2henry@yahoo.com) [<a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Panoramic_Boston.jpg">Wikimedia Commons</a>
  </div>
</div>
