<% content_for :title do %>MIT Model United Nations Conference<% end %>

<div class="container main">
 <div class="row">
   <BR/>
   <h1 style="font-size:28px; margin-bottom:25px;" class="text-center garamond">Letter from the Secretary-General</h1>
   <div style="color:rgba(26,26,26,.7)"  class="col-md-12 block-center garamond">
    <!-- <img class="sec-pic" src="http://www.babybedding.com/images/fabric/silver-gray-minky-fabric_medium.jpg"></img> -->
    <%= render file: "../assets/content/secretary_letter.html" %>
  </div>
</div>
</div>
</div>

<div class="jumbotron">
  <div class="container text-center jumbo-text">
      </br> </br>
    </div>
  </div>
