<% content_for :title do %>MIT Model United Nations Conference<% end %>
<div class="container container-main">
<% if conference_open? %>
  <div class="alert alert-info" role="alert">MITMUNC XI 2019 has started! The conference schedule can be found <a href="/fees#schedule">here</a>.</div>
<% end %>
  <div class="row">
    <div class="col">
      <h1 class="title">Letter from the Secretaries-General</h1>
      <%= render file: "../assets/content/secretary_letter.html" %>
    </div>
  </div>
</div>
<div class="container container-main">
  <div class="row">
    <div class="col">
      <h1 class="title">MITMUNC XII Speakers</h1>
      <%= render file: "../assets/content/speaker_bios_2020.html" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="title">MITMUNC XI Speakers</h1>
      <%= render file: "../assets/content/speaker_bios.html" %>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-highlight">
  <img alt="Panoramic Boston" src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Panoramic_Boston.jpg">
  <div class="img-attribution">
    Photo by Henry Han (hequals2henry@yahoo.com) [<a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Panoramic_Boston.jpg">Wikimedia Commons</a>
  </div>
</div>
