<!-- <div class="nav-spacer"></div>
 -->
<nav class="navbar navbar-default navbar-static-top" role="menu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#menuExpand" class="navbar-brand logo"><img id="crest" src="http://mun.mit.edu/sites/default/files/mitmuncLogo2017.png" alt="MIT MUNC Logo"></a>
      </div>


        <ul class="nav navbar-nav pull-right">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/about">About Us</a></li>
            <li class="nav-item"><a href="/committees">Committees</a></li>
            <li class="nav-item"><a href="/information">Conference Information</a></li>
            <li class="nav-item"><a href="/china">MITMUNC China</a></li>
            <li class="nav-item"><a href="/sponsors">Sponsor Us</a></li>

            <!-- The following commented code is a button that is more salient in the website menu bar. Typically for registration -->
<!--             <li class="nav-item"><a class ="btn btn-danger" href="/dayofconference"> <p class="text-white" style="color:white">Day of Conference</p></a></li> -->

        </ul>

</nav>
