<% content_for :title do %>MIT Model United Nations Conference &mdash; Committees<% end %>
<div class="container container-main">
  <div class="row">
    <div class="col">
      <h1 class="title">MITMUNC XII 2020 Committees</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>MITMUNC features many different committees that embark on a wide array of enthralling topics past, present, and future.</p>
      <h4>Position Paper Guidelines</h4>
      <p>Unless the relevant committee's background guide specifies otherwise, position papers should follow these guidelines:</p>
      <ul>
        <li>One page for each topic.</li>
        <li>12-point font, single-spaced.</li>
      </ul>
      <p>Delegates should email their completed position paper <strong>by January 12</strong> to the email address of their specific committee.</p>
    </div>
  </div>
  <div class="row">
    <div id="committeeAccordion" class="col">
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeASEAN" data-toggle="collapse">
          <h3>Association of Southeast Asian Nations (ASEAN)</h3>
        </div>
        <div id="committeeASEAN" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Beginner</b></p>
          <p>A specialized body devoted to discussing all things Southeast Asia, particularly focusing on finding multilateral and innovative solutions to challenges that many nations in the region are facing.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeDISEC" data-toggle="collapse">
          <h3>Disarmament and International Security Committee (DISEC)</h3>
        </div>
        <div id="committeeDISEC" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Beginner</b></p>
          <p>The Disarmament and International Security Committee focuses its attention on issues pertaining to the preservation of global peace and international security.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeECOSOC" data-toggle="collapse">
          <h3>Congress of Vienna, 1814 (VIENNA)</h3>
        </div>
        <div id="committeeECOSOC" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Intermediate</b></p>
          <p>Napoleon has fallen. European borders and notions of states lies in shambles. Congress has been called as the dust settles to set a new status quo for the balance of power and intercontinental politics of Europe.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeEU" data-toggle="collapse">
          <h3>Facebook Board of Directors, 2018 (FB)</h3>
        </div>
        <div id="committeeEU" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Intermediate</b></p>
          <p>Facebook was shaken at its roots in early 2018 when it was publicized Cambridge Analytica’s use of personal data collected by the social media giant in order to influence US election outcomes. The purview of this committee, which will be comprised of Facebook’s Directors, management team, and associated staff, is to address new concerns that have arisen as a result of this scandal, and push the company in the direction of success.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeHRC" data-toggle="collapse">
          <h3>Imperial Court of the Qing Dynasty, 1840 (QING)</h3>
        </div>
        <div id="committeeHRC" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Intermediate</b></p>
          <p>The Qing Dynasty was established in 1643. By the 1800s, it had reached its largest size, but poverty, rebellion, heavy foreign pressure, and high population growth deteriorated the once great dynasty. The Imperial Court aims to reform society while also tackling the growing tension with the British.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeIAEA" data-toggle="collapse">
          <h3>International Atomic Energy Agency (IAEA)</h3>
        </div>
        <div id="committeeIAEA" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Beginner</b></p>
          <p>The International Atomic Energy Association is designed to promote peaceful and innovative uses of atomic energy, while also monitoring and preventing militaristic uses of these powerful technologies.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeIMF" data-toggle="collapse">
          <h3>International Criminal Court (ICC) </h3>
        </div>
        <div id="committeeIMF" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Advanced</b></p>
          <p>The International Criminal Court, set up under the Rome Statute in 2002, is an intergovernmental body designed to prosecute those accused of genocide, crimes against humanity, and war crimes, among other atrocities. The body may only try individuals under certain sets of circumstances - being that they may only try citizens of their own member states or those that the United Nations Security Council has referred to the ICC.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeJCC" data-toggle="collapse">
          <h3>Joint Crisis (NUGS)</h3>
        </div>
        <div id="committeeJCC" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Advanced</b></p>
          <p>Taking place in 2050 after a post-climate change “apocalypse” that has left the world in an unrecognizable state. Food is scarce, and those who control it have all the power in society. To overpower rivals, massive global food chains like McDonald’s, Burger King, Nando’s, Subway, and Starbucks have begun teaming up with each other to form even larger corporate conglomerates that have expanded their scopes into all sectors, including agriculture, technology, education, and the military. As directors sitting on the boards of these newly formed corporate powerhouses, it will be your responsibility to propel your company above your rivals and bring society back from the brink of shutdown.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeSPECPOL" data-toggle="collapse">
          <h3>Special Political & Decolonization Committee (SPECPOL)</h3>
        </div>
        <div id="committeeSPECPOL" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Beginner</b></p>
          <p>As the United Nations General Assembly’s Fourth Committee, SPECPOL can deal with a wide variety of political topics, which have included peacekeeping, decolonization, and the peaceful uses of outer space.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeUNECLAC" data-toggle="collapse">
          <h3>Kamehameha’s Hawaii, 1800 (HAWAII)</h3>
        </div>
        <div id="committeeUNECLAC" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Intermediate</b></p>
          <p>Kamehameha I, also known as Kamehameha the Great, was the founder and first ruler of the Kingdom of Hawaii. He has just risen to power and is working to establish a stable government for all of the islands in Hawaii. As his Royal Court, you are responsible for bringing unity to the new Hawaii and glory to your districts.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeUNEP" data-toggle="collapse">
          <h3>United Nations Environment Programme (UNEP)</h3>
        </div>
        <div id="committeeUNEP" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Beginner</b></p>
          <p>The United Nations Environment Programme is designed to create new, update existing, and provide insights towards optimizing policies that address the environmental concerns of the body’s member states.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeUNHCR" data-toggle="collapse">
          <h3>UN Entity for Gender Equality and the Empowerment of Women (UNWOMEN)</h3>
        </div>
        <div id="committeeUNHCR" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Beginner</b></p>
          <p>UN WOMEN, which first met in 2011, was designed to promote women’s rights, gender equality, and the empowerment of women on an international scale.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeUNSC" data-toggle="collapse">
          <h3>United Nations Security Council (UNSC)</h3>
        </div>
        <div id="committeeUNSC" class="card-body collapse" data-parent="#committeeAccordion">
          <p><b>Advanced</b></p>
          <p>As the Organ of the United Nations tasked with upholding global peace and security, and with the authority to take action to do so, the Security Council addresses pressing issues in dire need of action to promote and maintain global order.</p>
        </div>
      </div>
      <div class="card">
        <div class="btn btn-outline-primary text-left" data-target="#committeeWHO" data-toggle="collapse">
          <h3>World Health Organization (WHO)</h3>
        </div>
        <div id="committeeWHO" class="card-body collapse" data-parent="#committeeAccordion">
          <p>Tier: <b>Beginner</b></p>
          <p>The World Health Organization is focused on addressing the world’s most urgent or prevalent health issues, whether that be through directly addressing an outbreak, providing oversight on healthcare standards, or by installing innovative public health policies across the globe.</p>
        </div>
      </div>
    </div>
  </div>
</div>
