<html>

<head>
  <%= render file: "partials/meta_partial.html" %>
  <link rel="stylesheet" href="/assets/fees.css.erb">
  <link rel="stylesheet" href="/assets/basic_template.css">
  <title>MIT Model UN Conference - Day of Conference</title>
</head>

<body>
  <%= render file: "partials/nav_partial.html.erb" %>
  <div style = "color:rgba(26,26,26,.7);" class="garamond main main-text">
      <div class="text-center" style="color:#BD2031">    
    <p class="te">
      MITMUNC X has arrived! Please refer to the following page for updated information about the conference
    </p>
          </div>

<a class="weatherwidget-io" href="https://forecast7.com/en/42d37n71d11/cambridge/?unit=us" data-label_1="CAMBRIDGE" data-label_2="M.I.T." data-theme="original" >CAMBRIDGE WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>

 <a class="weatherwidget-io" href="https://forecast7.com/en/42d37n71d11/cambridge/" data-label_1="MITMUNC X" data-label_2="February 9-11,2018" data-theme="original" >CAMBRIDGE WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
      <BR/>
      <div class="text-center" style="color:#BD2031">
        <h2>Conference Schedule <span class="glyphicon glyphicon-calendar"></span></h2>
      </div>    

      <div class="col-md-6">
        <h3 class="date-heading">Friday, February 9th</h3>
        <p class="bulleted-info">3-5PM: Delegation Check-In, <i>Marriot Ballroom Lobby</i></p>
        <p class="bulleted-info">5-6PM: Opening Ceremonies, <i>Marriot Ballroom</i></p>
        <p class="bulleted-info">7:30PM- 9:30PM: Committee Session I <i>E51 (Tang Center) Classrooms </i></p>
        <h3 class="date-heading">Saturday, February 10th</h3>
        <p class="bulleted-info">9:30AM-12:30PM: Committee Session II</p>
        <p class="bulleted-info">12:30PM-2PM: Lunch Break</p>
        <p class="bulleted-info">2PM-5PM: Committee Session III</p>
        <p class="bulleted-info">5PM-6:30PM: Dinner Break</p>
        <p class="bulleted-info">6:30PM-8:30 PM: Committee Session IV</p>
        <p class="bulleted-info">7PM: Advisor Meeting <i>E51 (Tang Center) Room 361</i></p>
        <p class="bulleted-info">9:30PM-12 AM: Delegate Dance <i> Lobdell, Building W20 (Student Center)</i></p>
      </div>
      <div class="col-md-6">
        <h3 class="date-heading">Sunday, February 11th</h3>
        <p class="bulleted-info">9:30AM-11:30 PM: Committee Session V</p>
        <p class="bulleted-info">11:30PM-1 PM: Lunch Break</p>
        <p class="bulleted-info">1 PM: Closing Ceremonies <i> Kresge Auditorium </i></p>
      </div>
      <BR/>
      <BR/>
      <p class = "ellipsis">&hellip;</p>
      <BR/>
      <!-- Accomodations -->
      <div class="col-md-12 text-center main-text ">
        <div class="text-center" style="color:#BD2031">
          <h2 class="garamond">Other Information <span class="glyphicon glyphicon-home"></span></h2>
        </div>
        <p class="description">Opening ceremonies will be held in the Boston Marriott Cambridge at Kendall Square</p>
          <p class="description">The Kendall Square Marriott is the closest hotel to conference venues,
            a mere 7 minutes walking distance from Building E51<BR/><BR/>
            <strong><a href="http://www.marriott.com/hotels/travel/boscb-boston-marriott-cambridge/">Boston Marriot Cambridge</a></strong><BR/>
            50 Broadway, Cambridge, MA 02142<BR/>
            Hotel: (617) 494-6600<BR/>

            </p>           
      </div>
      <div class="text-center garamond spacer">
        <BR/><BR/>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.0372249550096!2d-71.08835504924662!3d42.363045942804014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e370af6823c2ed%3A0x9179247fafa0ddf8!2sBoston+Marriott+Cambridge!5e0!3m2!1sen!2spr!4v1497822975264" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
          <h3 class="date-heading">Food & Meals</h3><BR/>
          <p>MITMUNC will not provide meals for its attending delegates. There are breadth of restaurants and dining options available at Kendall Square, near conference venues.</p>
          <h3 class="date-heading">MIT Campus Map</h3><BR/>
          <p>Useful for finding conference rooms. Please refer to delegate packs with labeled map:</p>
          <a href="http://web.mit.edu/campus-map/pdf/MITmap4pg.pdf"> MIT Campus Map</a>

          <h3 class="date-heading">Phone numbers</h3><BR/>
          <p> <strong>MIT Police:</strong> (617) 253-1212 </p>
          <p> <strong>MITMUNC Hotline:</strong> (601) 564-8MUN </p>           





<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->          
        </div>
      </div>
      <p class = "ellipsis">&hellip;</p>

      <%= render file: "partials/footer_partial.html" %>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->


    </body>
    </html>
