
<head>
  <%= render file: "partials/meta_partial.html" %>
  <link rel="stylesheet" href="/assets/registration_forms.scss">
</head>

<body>
  <%= render file: "partials/nav_partial.html.erb" %>

<div style="width:600px; margin: 0 auto;">
<h3 class="text-center">Please refresh page if registration not visible</h3>
<script type="text/javascript" src="https://form.jotform.us/jsform/72495792820163"></script>
</div>
</body>
