<% content_for :title do %>MIT Model UN Conference - Sponsorship<% end %>

  <div style = "color:rgba(26,26,26,.7);"class="garamond main main-text">
  <h2 class="garamond text-center">Sponsor Us </h2>
    <p>
      MITMUNC is the Massachusetts Institute of Technology’s premier Model United Nations
      conference for high school students. In early February, <strong>over 600 high school students
      from different corners of the globe</strong> will come together at MIT’s internationally recognized
      campus to participate in MITMUNC. Over the course of three days, delegates will debate
      upon popular topics, such as the United Kingdom’s exit from the European Union to more
      recent topics, such as the humanitarian crisis in Aleppo, Syria. A group of passionate
      and driven MIT undergraduate students will direct the committee sessions, guiding debate
      of the world’s most demanding issues.
    </p>
    <p><strong>MITMUNC is an excellent medium for you to promote your brand to both high school
       and MIT students, along with the faculty advisors that accompany students </strong> throughout
       the conference. To best fit your need and interests, we have designed different
      sponsorship packages for your organization. If you decide to sponsor us and our
      mission of promoting education through the power of international relations and
      debate, please contact our Director of Business to discuss options.
    </p>
    <p>We now invite to go through our sponsorship brochure to get better oriented with our options.
       We look forward to continuing the conversation!</p>
   <div class="text-center spacer">
     <p><b>Contact Our Director of Business:</b> dob-mitmunc@mit.edu, Madeline Zhang, Director of Business, MITMUNC IX </p>
     <p><b>Sponsorship Tiers:</b> VIP Partner, Platinum Partner, Gold Partner, Silver Partner, Educational Organization Package*, Bronze Partner</p>
     <p><b>Sponsorship Offerings:</b> Social Media, Delegate Guide, Faculty Guide, Summer Opportunities Fair, MITMUNC T-Shirt, Banner, and more!  </p>

     <!-- <a class="btn btn-primary btn-lg" href="http://mun.mit.edu/sites/default/files/MITMUNCSponsorBrochure.pdf">
      <p style="color:white" class = "ellipsis">Download Our Sponsorship Brochure</p></a> -->

     <p class="btn btn-primary btn-lg" class = "ellipsis" >
        <%= link_to "Download Our Sponsorship Brochure",
            { :controller => "conferences",
              :action => "download_pdf",
              :name =>'MITMUNC-X-Sponsorship-Document'},
            { style: 'color: white;'} %>
     </p>
  </div>

  </div>
