<% content_for :title do %>MIT Model UN Conference &mdash; Sponsorship<% end %>
<div class="container container-main">
  <div class="row">
    <div class="col">
      <h1 class="title">Sponsor Us</h1>
      <p>MITMUNC is the Massachusetts Institute of Technology’s premier Model United Nations conference for high school students. In early February, <strong>over 500 high school students from different corners of the globe</strong> will come together at MIT’s internationally recognized campus to participate in MITMUNC. Over the course of three days, delegates will debate upon popular topics, such as Syria's refugee crisis to more recent topics, such as the hyperinflation in Venezuela. A group of passionate and driven MIT undergraduate students will direct the committee sessions, guiding debate of the world’s most demanding issues.</p>
      <p><strong>MITMUNC is an excellent medium for you to promote your brand</strong> to both <strong>high school and MIT students</strong>, along with the <strong>faculty advisors</strong> that accompany students throughout the conference. To best fit your need and interests, we have designed different sponsorship packages for your organization. If you decide to sponsor us and our mission of promoting education through the power of international relations and debate, please contact our Director of Business to discuss options.</p>
      <p>We now invite you to go through our sponsorship brochure to get better oriented with our options. We look forward to continuing the conversation!</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <p><strong>Contact Our Director of Business:</strong> Wilson Spearman, <a href="mailto:dob-mitmunc@mit.edu">dob-mitmunc@mit.edu</a>.</p>
      <p><strong>Sponsorship Tiers:</strong> VIP Partner, Platinum Partner, Gold Partner, Silver Partner, Bronze Partner, Educational Organization Package.</strong>
      <p><strong>Sponsorship Offerings:</strong> Social Media, Delegate Guide, Faculty Guide, Summer Opportunities Fair, MITMUNC T-Shirt, Banner, and more!</p>
      <p><%= link_to "Download Our Sponsorship Brochure", asset_path("MITMUNC_XI_Sponsorship_Document.pdf", skip_pipeline: true), class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>
