<% content_for :title do %>MIT Model United Nations Conference China<% end %>

    <div class="jumbotron-china">
      <div class="container text-center jumbo-text">
      </div>
    </div>
    <div class="container">
      <h3 class="text-center">
      The MIT Model United Nations Conference (MITMUNC) is very excited to announce <br>the second edition of our first conference outside of the United States, <strong>MITMUNC China</strong>!</h3>
    </div>

    <div class="garamond main spacer">

    <div class="main-text">

      <p><br>The second edition of MITMUNC China will be held in Shanghai from Friday, August 24th through Sunday, August 26th, 2018 and host six unique committees, each directed by MIT undergraduate students. All committee directors have chaired for our homegrown MITMUNC conference, held annually at MIT in the early spring, for one or more conferences, and are very excited for this unique opportunity.</p>

      <p><br>MITMUNC China is closely co-organized with
      <a href="http://www.seedasdan.org/en/mitmunc-china/"><u><strong>ASDAN China</strong></u></a>. ASDAN is an educational non-profit based in the United Kingdom and offers international educational programs in China, Europe, North America. MITMUNC China will be a three-day conference and follow a similar schedule to our homegrown conference, but will follow the same rules and procedures.</p>

      <p><br>Above all, MITMUNC China will offer around 300 Chinese high school students across the Asian nation the opportunity to debate upon important international issues posing veritable challenges to the world today, such as the reality of climate change, cybersecurity, and refugee assistance in conflict zones.</p>

      <p><br>MITMUNC China challenges its delegates to cooperate and perform their very best to develop feasible solutions to these diverse problems. MITMUNC China’s mission resonates very closely with the <a href="https://betterworld.mit.edu"><u><strong>M.I.T. Campaign for a Better World</strong></u></a>, pursuing education, research, and innovation with a passion for serious impact. </p>

      <p><br>We are thrilled on the renewal of this an annual venture and all look forward to meeting the second group of MITMUNC China delegates come August! <br></p>


      <p><br>Sincerely,</p>


      <p><strong>William A. Rodriguez & Madeline Zhang</strong><p>
      <p>M.I.T. Class of 2018, MIT Class of 2020 </p>
      <p>Founder, Secretary-General </p>
      <p>MITMUNC China</p>
    </div>
    <div class="text-center row">
      <div class="col-md-6">
      <img src="https://asset.asdan.org.uk/56cad4aa4a3b1" alt="ASDAN China Logo" class="img-responsive center-block">
      </div>
      <div class="col-md-6">
      <img src="http://mun.mit.edu/sites/default/files/mitmuncchina/mitmuncChinaLogo.png" alt="MITMUNC China Logo" style="max-width:: 40%; height: auto;" class="img-responsive center-block">
      </div>

    </div>
    <p class = "ellipsis text-center">&hellip;</p>

    <div class="text-center row">
      <div class="col-md-12">
        <h2>The Secretariat of MITMUNC China</h2>
        </BR>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/mitmuncchina/Directors/KarunyaSethuramanHeadReduced.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Karunya Sethuraman</strong></BR>
              Committee Director & Chair</BR>
              Association of Southeast Asian Nations
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/mitmuncchina/Directors/AlexanderDimitrakakisReducedHead.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Alexander Dimitrakakis</strong></BR>
              Committee Director & Chair</BR>
              European Union
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/mitmuncchina/Directors/ArjunMithalHeadReduced.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Arjun Mithal</strong></BR>
              Committee Director & Chair</BR>
              International Monetary Fund
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/mitmuncchina/Directors/AmroAlshareefHeadReduced.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Amro Alshareef</strong></BR>
              Committee Director & Chair</BR>
              International Monetary Fund
            </p>
          </div>
        </div>
      </div>

<div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/mitmuncchina/Directors/JustinGongHeadReduced.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Justin Gong</strong></BR>
              Committee Director & Chair</BR>
              Disarmament & International Security Commmittee
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/mitmuncchina/Directors/WilliamARodriguezHeadReduced.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>William A. Rodriguez</strong></BR>
              Secretary-General & Founder</BR>
              MITMUNC China
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <a href="#myModal" role="button" data-toggle="modal">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/mitmuncchina/Directors/MadelineZhangHeadReduced.jpg" alt="Card image cap">
          </a>
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Madeline Zhang</strong></BR>
              Committee Director & Chair</BR>
              Special Political & Decolonization Committee
            </p>
          </div>
        </div>
      </div>




    <div class="text-center row">
      <div class="col-md-12">
        </BR>
        </BR>
        </BR>
        <h2> Location and Dates</h2>


        <p class="bulleted-info">August 25-27th, 2017</p>
        <p class="bulleted-info">Shanghai, China</p>
        <p class="bulleted-info"></p>
      </div>
    </div>
    <div class="text-center row">
      <h2> Registration</h2>

        <p class="bulleted-info">Please visit ASDAN China's link for registration </p>
        <a href="http://www.seededu.cn/mitmunc.jsp" class="btn btn-danger btn-lg" role="button">MITMUNC China Registration</a>
        <p class="bulleted-info"><br> For all concerns or questions, please contact the MITMUNC China Secretariat</p>
        <p class="bulleted-info"> <a href="mailto:mitmunc-china@mit.edu">mitmunc-china@mit.edu</a></p>


      <p><br><br><br><br> </p>
    </div>
    </div>

    </div>
    </div>
