  <html>

  <head>
    <%= render file: "partials/meta_partial.html" %>
    <link rel="stylesheet" href="/assets/basic_template.css">
    <link rel="stylesheet" href="/assets/about.css.erb">
    <title>MIT Model United Nations Conference - About</title>

  </head>

    <body>
      <%= render file: "partials/nav_partial.html.erb" %>
      <div class="container main">
         <div class="row">
          <h2 class="garamond">What is MITMUNC?</h2>

          <div class="garamond" style="color:rgba(26,26,26,.7)">
            <%= render file: "../assets/content/about_content.html" %>
          </div>
        </div>
      </div>
    </div>


    <div class="row text-center garamond mini-spacer">
      <h2>MITMUNC X 2018 Secretariat</h2>
    </div>

<div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/William.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>William A. Rodriguez</strong></BR>
              Under Secretary-General </BR>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Madeline.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Madeline Zhang</strong></BR>
              Secretary General</BR>
            </p>
          </div>
        </div>
      </div>     

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Karunya.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Karunya Sethuraman</strong></BR>
              Director-General</BR>
            </p>
          </div>
        </div>
      </div>
    </div>
     

<div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Arjun.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Arjun Mithal</strong></BR>
              Chief Financial Officer</BR>
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Alex.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Alexander Dimitrakakis</strong></BR>
              Chief Operating Officer</BR>
            </p>
          </div>
        </div>
      </div>      

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Emily.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Emily Xie</strong></BR>
              Director General</BR>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Amy.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Amy Kim</strong></BR>
              Director of Business </BR>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Meia.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Meia Alsup</strong></BR>
              Director of Innovation and Technology</BR>
            </p>
          </div>
        </div>
      </div>      

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Emma.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Emma Bernstein</strong></BR>
              Director of Public Relations</BR>
            </p>
          </div>
        </div>
      </div>
    </div>

</div>






    <div class="row garamond text-center spacer about-us">
      <ul style="color:rgba(26,26,26,.7)">
      </BR>
      </BR>
      


      </ul>
    </div>

      <%= render file: "partials/footer_partial.html" %>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->


    </body>
</html>
