<% content_for :title do %>MIT Model United Nations Conference - About<% end %>
      <div id="abouts-main" class="container main">
         <div class="row">
          <h2 class="garamond">What is MITMUNC?</h2>
          <div class="garamond" style="color:rgba(26,26,26,.7)">
            <%= render file: "../assets/content/about_content.html" %>
          </div>
        </div>
      </div>


    <div class="row text-center garamond mini-spacer">
      <h2>MITMUNC XI 2019 Secretariat</h2>
    </div>

<div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/William.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>William A. Rodriguez</strong></BR>
              Under Secretary-General </BR>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Madeline.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Madeline Zhang</strong></BR>
              Secretary General</BR>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Karunya.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Karunya Sethuraman</strong></BR>
              Director-General</BR>
            </p>
          </div>
        </div>
      </div>
    </div>


<div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Arjun.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Arjun Mithal</strong></BR>
              Chief Financial Officer</BR>
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Alex.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Alexander Dimitrakakis</strong></BR>
              Chief Operating Officer</BR>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Emily.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Emily Xie</strong></BR>
              Director General</BR>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Amy.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Amy Kim</strong></BR>
              Director of Business </BR>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Meia.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Meia Alsup</strong></BR>
              Director of Innovation and Technology</BR>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="img-responsive card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Emma.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="text-center card-text">
              <strong>Emma Bernstein</strong></BR>
              Director of Public Relations</BR>
            </p>
          </div>
        </div>
      </div>
    </div>

</div>






    <div class="row garamond text-center spacer about-us">
      <ul style="color:rgba(26,26,26,.7)">
      </BR>
      </BR>



      </ul>
    </div>
