<% content_for :title do %>MIT Model United Nations Conference - About<% end %>
<div class="container container-main">
  <div class="row">
    <div class="column">
      <h1 class="title-main">What is MITMUNC?</h1>
      <%= render file: "../assets/content/about_content.html" %>
    </div>
  </div>
</div>
<div class="container container-about">
  <div class="row">
    <div class="col">
      <h2 class="title-main">MITMUNC X 2018 Secretariat</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Madeline.jpg" alt="Madeline">
          <div class="card-body">
            <p class="card-title">Madeline Zhang</p>
            <p class="card-text">Secretary-General</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/William.jpg" alt="William">
          <div class="card-body">
            <p class="card-title">William A. Rodriguez</p>
            <p class="card-text">Under Secretary-General</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Karunya.jpg" alt="Karunya">
          <div class="card-body">
            <p class="card-title">Karunya Sethuraman</p>
            <p class="card-text">Director-General</p>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Arjun.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">Arjun Mithal</p>
          <p class="card-text">Chief Financial Officer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Alex.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">Alexander Dimitrakakis</p>
          <p class="card-text">Chief Operating Officer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Emily.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">Emily Xie</p>
          <p class="card-text">Director-General</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Amy.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">Amy Kim</p>
          <p class="card-text">Director of Business</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Meia.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">Meia Alsup</p>
          <p class="card-text">Director of Innovation and Technology</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="http://mun.mit.edu/sites/default/files/2018/secretariat/Emma.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">Emma Bernstein</p>
          <p class="card-text">Director of Public Relations</p>
        </div>
      </div>
    </div>
  </div>
</div>
