<% content_for :title do %>MIT Model United Nations Conference - Info & Fees<% end %>

  <div style = "color:rgba(26,26,26,.7);" class="garamond main main-text">
    <p class="te">
      In order to ensure participation in MITMUNC XI 2019, faculty advisors and delegates must pay special attention to our conference deadlines as well as apply early and properly.<BR/><BR/>
      MITMUNC is <b>*only*</b> open to high school students in all nations across the world and not to those currently enrolled in a full-time college or university. <BR/>
      The following was the schedule followed for MITMUNC X 2018.
    </p>

    <div id="conference-info">
    <div style="color: #BD2031" class="text-center">
      <h2>Important Dates <span class="glyphicon glyphicon-calendar"></span></h2>
    </div>
    <div class="col-md-6">
      <h3 class="date-heading">Mid-September 2017</h3>
      <p class="bulleted-info">Regular Registration opens</p>
      <h3 class="date-heading">November 24th, 2017</h3>
      <p class="bulleted-info">Regular Registration closes</p>
      <p class="bulleted-info">*All conference fees due.* Failure to provide payment will result in relegation to waitlist.</p>
      <p class="bulleted-info">Financial Assistance application due</p>
      <h3 class="date-heading">December 2nd, 2017</h3>
      <p class="bulleted-info">Waitlist application opens. All conference fees due immediately upon acceptance from waitlist.</p>
    </div>
    <div class="col-md-6">
      <h3 class="date-heading">January 5th, 2018</h3>
      <p class="bulleted-info">Waitlist application closes.</p>
      <p class="bulleted-info">Last day for to request refund on conference fees. No refund request shall be accepted afterwards.</p>
        <h3 class="date-heading">January 12th, 2018</h3>
        <p class="bulleted-info">Position Papers due from delegates. Late penalty applied afterwards.</p>
        <h3 class="date-heading">February 9-11th, 2018</h3>
        <p class="bulleted-info spacer">MITMUNC X 2018</p>
        <BR/>
        <BR/>
        <BR/>
        <!-- These ^three breaks are necessary to make following conference fees header not go to right when window is maximized -->
    </div>


    <div style="color: #BD2031" class="text-center">
      <h2>Conference Fees <span class="glyphicon glyphicon-usd"></span></h2>
    </div>
      <div class="text-center"><h3 class="date-heading">Schools with more than 5 delegates</h3><BR/>
          <span class="glyphicon glyphicon-chevron-right"></span>75 USD school fee<BR/>
          <span class="glyphicon glyphicon-chevron-right"></span>70 USD per individual delegate<BR/>
      </div>
      </BR>
      </BR>

      <div class="text-center">
        <h3 class="date-heading">Schools with less than 5 delegates</h3><BR/>
        Exempt from school fee<BR/>
        <span class="glyphicon glyphicon-chevron-right"></span>70 USD per individual delegate<BR/><BR/>
      </div>
      <div class="text-center">
        After completing the initial registration process, schools will be asked to complete their payment online, which is the preferred method of payment. Schools may also send a check or submit a domestic or international wire transfer. <BR/>
        To process payments, a school should collect all fees from delegates and pay once.
        Once payment has been received, the designated school advisor will receive a final notice of registration confirmation.<BR/>
        Payment <i>must</i> be received upon specified conference deadlines to secure your delegation's spots in MITMUNC. Failure to complete this process will result in a delegation's spots being released to waitlist due to high demand.
        <BR/><BR/>
        <h3 class="date-heading">Financial Aid</h3>If payment of conference fees is a barrier to participation to MITMUNC, you may apply for financial aid to assist in reduction of conference fees.
      </p>
      <BR/>
      <div class="text-center" style="color:#BD2031">
        <h2>Conference Schedule <span class="glyphicon glyphicon-calendar"></span></h2>
      </div>

      <p> The following is the schedule for MITMUNC X 2018, Feb 9th-11th.</p>
      <div class="col-md-6">
        <h3 class="date-heading">Friday, February 9th</h3>
        <p class="bulleted-info">3-5PM: Delegation Check-In, <i>Marriot Ballroom Lobby</i></p>
        <p class="bulleted-info">5-6PM: Opening Ceremonies, <i>Marriot Ballroom</i></p>
        <p class="bulleted-info">6:30PM- 9PM: Committee Session I <i>E51 (Tang Center) Classrooms </i></p>
        <h3 class="date-heading">Saturday, February 10th</h3>
        <p class="bulleted-info">9:30AM-12:30PM: Committee Session II</p>
        <p class="bulleted-info">12:30PM-2PM: Lunch Break</p>
        <p class="bulleted-info">2PM-5PM: Committee Session III</p>
        <p class="bulleted-info">5PM-6:30PM: Dinner Break</p>
        <p class="bulleted-info">6:30PM-8:30 PM: Committee Session IV</p>
        <p class="bulleted-info">7PM: Advisor Meeting <i>E51 (Tang Center) Room 361</i></p>
        <p class="bulleted-info">9:30PM-12 AM: Delegate Dance <i> Lobdell, Building W20 (Student Center)</i></p>
      </div>
      <div class="col-md-6">
        <h3 class="date-heading">Sunday, February 11th</h3>
        <p class="bulleted-info">9:30AM-11:30 PM: Committee Session V</p>
        <p class="bulleted-info">11:30PM-1 PM: Lunch Break</p>
        <p class="bulleted-info">1 PM: Closing Ceremonies <i> Kresge Auditorium </i></p>
      </div>
      <BR/>
      <BR/>
      <p class = "ellipsis">&hellip;</p>
      <BR/>
      <!-- Accomodations -->
      <div class="col-md-12 text-center main-text ">
        <div class="text-center" style="color:#BD2031">
          <h2 class="garamond">Accommodations <span class="glyphicon glyphicon-home"></span></h2>
        </div>
        <p class="description">MITMUNC X 2018 will be held at the Massachusetts Institute of Technology campus. Following our usual annual agreement, MITMUNC has arranged a discounted
          rooming rate for delegates and advisors to stay at the Boston Marriot Cambridge,
          located at Kendall Square on 50 Broadway, Cambridge, MA 02142, United States.</p>
          <p class="description">Discounted room rate*: $149.00, plus tax, per night</p>
          <p class="description">The Kendall Square Marriott is the closest hotel to conference venues,
            a mere 7 minutes walking distance.<BR/><BR/>
            <strong><a href="http://www.marriott.com/hotels/travel/boscb-boston-marriott-cambridge/">Boston Marriot Cambridge</a></strong><BR/>
            50 Broadway, Cambridge, MA 02142<BR/>
            Hotel: (617) 494-6600<BR/>



            </p>
      </div>
      <div class="text-center garamond spacer">

        <img src="http://cache.marriott.com/propertyimages/b/boscb/boscb_main02_r.jpg?resize=0.5x:0.5x" style="width: 70%" />
        <BR/><BR/>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.0372249550096!2d-71.08835504924662!3d42.363045942804014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e370af6823c2ed%3A0x9179247fafa0ddf8!2sBoston+Marriott+Cambridge!5e0!3m2!1sen!2spr!4v1497822975264" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>

      <div class="col-md-12 text-center main-text ">
        <div class="text-center" style="color:#BD2031">
          <h2 class="garamond">Miscellaneous <span class="glyphicon glyphicon-home"></span></h2>
        </div>
          <h3 class="date-heading">Visa Letters</h3><BR/>
          <p> If a letter of invitation from MITMUNC is required for a visa application in order to attend our conference, a delegation may request one directly.</p>
          <h3 class="date-heading">Single Delegates</h3><BR/>
          <p>We recommend students contact their school's Model United Nations club to foster interest in attending MITMUNC as the school's delegation rather as an individual delegate. If interest is limited or there is no such club, you must find a faculty advisor (school teacher or parent), and apply as a single delegate. Also consider starting your school's Model United Nations club!</p>
          <h3 class="date-heading">Food & Meals</h3><BR/>
          <p>MITMUNC will not provide meals for its attending delegates. There are breadth of restaurants and dining options available at Kendall Square, near conference venues.</p>

      </div>


<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//mitmunc.us16.list-manage.com/subscribe/post?u=58202ace4a7b6230b9872eb9b&amp;id=73b186ceb2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h2>Subscribe to our mailing list to receive registration updates </h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-FNAME">First Name </label>
  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <label for="mce-LNAME">Last Name </label>
  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_58202ace4a7b6230b9872eb9b_73b186ceb2" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
        </div>
      </div>
    </div>
      <p class = "ellipsis">&hellip;</p>
