#committeeAccordion {
  .btn {
    white-space: normal;
  }
}
.img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.img_solo {
    width: 50%;
    height: 20vw;
    object-fit: cover;
}
