.container-main {
  @extend .my-5;
  @include media-breakpoint-up(md) {
    max-width: 720px;
  }
  font-family: $font-family-serif;
}

.title-main {
  @extend h2, .text-center;
  &::after {
    @extend hr;
    content: '';
    display: block;
  }
}

.subtitle {
  @extend h3, .text-center;
  color: darkred;
}

.jumbotron-highlight {
  @extend .my-0, .py-0;
  position: relative;
  overflow-y: hidden;
  img {
    margin-top: -5%;
    width: 100%;
  }
}

.img-attribution {
  @extend .mr-1, .mb-1, small;
  position: absolute;
  bottom: 0;
  right: 0;
  &, a {
    @extend .text-secondary;
  }
}
