.jotform-form {
    margin-top: 3em;
    margin-bottom: 3em;

    .form-all {
        margin-left: auto;
        margin-right: auto;
    }

    li[data-type="control_captcha"] {
        > label {
            text-align: center;
        }
        div {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
