.jumbotron {
    position: relative;
    background: url("https://upload.wikimedia.org/wikipedia/commons/f/fe/UN_Members_Flags.JPG") 200px 0px;
    width: 100%;
    height: 400px;
    background-size: cover;
    overflow: hidden;
    top: -80px;
    color:white;
    margin-bottom: -80px;
}

.jumbo-text{
  margin-top:170px;
}

.main{
  width: 70%;
  margin: 50px auto;
  margin-bottom: 10px;
}
.main-text{
  font-size: 17px;
}
