.footer {
    height: 300px; /* .push must be the same height as .footer */
    background: #171717;
    width:100%;
    color:white;
    font-family: Montserrat;
    font-weight: 50px;
    overflow: hidden;
    flex-shrink: 0;
    display: absolute;
}
.head{
  text-transform:uppercase;
}
.info{
  font-family: "Montserrat";
  margin-bottom: 15px;
  font-weight: 400px;
}

.footer-contact{
  margin-top:35px;
}

.footer-text{
  margin-top:85px;
  margin-bottom: -20px;
}

span.glyphicon {
    margin-top:45px;
    font-size: 2.5em;
    margin-right: 15px;
}
