.container-footer {
  .row {
    @extend .bg-darkred;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .text-center;
    a {
      color: inherit;
    }
  }
}
.footer-contact {
  min-height: 3em;
  @extend .text-light;
}
.footer-copyright {
  @extend small;
  color: lightgrey;
  opacity: 0.9;
}
