#crest {
  height: 60px;
  width: 60px;
}
.bg-darkred {
  background-color: darkred;
}
/*
.login_button{
  text-decoration: none !important;
  color: white !important;
}

.sign_out{
  letter-spacing: 2px;
  color:gray !important;
  text-decoration: none !important;
}

.sign_out:hover, .sign_out:focus, .sign_out:active:focus, .sign_out:focus {
  color:black;
  text-decoration: none !important;
  background-color: white !important;
}
*/
