.profile_body{
  display:block;
  overflow:scroll;
  width: 550px ;
  min-height: 420px;
  max-height: 420px;
  margin: 60px auto;
  margin-bottom: 0px;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  border-radius: 2px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.status_img{
  text-align: center;
  margin-bottom: 40px;
}
.status{
  margin-top: 40px;
  font-size: 1.1em;
}

.main-title{
  font-size: 1.8em;
  font-weight: lighter;
}

.shorten_width{
  display: block;
}

.link{
  color:gray !important;
  text-decoration: none !important;
}

.thin{
  font-weight: lighter;
}

.actions{
  text-align: center;
}

.rounded{
  border-radius:5px;
  border-style:solid;
  border-color: #E7E7E7;
  width: 210px;
  height:35px;
  border-width: 1px;
}

.inside_signup{
  width: 210px; /*can be in percentage also.*/
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}


.title{
  padding-top: 40px;
}

.title2{
  padding-top: 40px;
  margin-bottom: -50px;
}

.space{
  margin-top: 30px;}

.btn{
  font-family: 'Montserrat'
}

/*body{
  background-color: #E7E7E7;
}*/


#bootstrap-overrides button { /* 100+1=101 priority score, yay! */
      border: 0 none;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 15px;
      text-shadow:none !important;
      box-shadow: none;
      background-color: white;
}

.btn_3{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
