<div class="container-fluid container-navbar">
  <nav class="row navbar navbar-main">
    <a class="navbar-brand" href="/">
      <%= image_tag "mitmunc_logo_circular.png", id: "crest", alt: "MITMUNC Logo" %>
      <span id="name">MITMUNC XII</span>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="#navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/fees">Conference Information</a></li>
        <li><a href="/committees">Committees</a></li>
        <li><a href="/sponsors">Sponsor Us</a></li>
        <li><a href="/china">MITMUNC China</a></li>
      </ul>
      <div class="navbar-social">
        <span class="navbar-text">Follow us:</span>
        <a href="https://www.facebook.com/MITMUNC/" target="_blank"><%= fa_icon "facebook-square 2x", alt: "Facebook" %></a>
        <a href="https://www.instagram.com/mitmunc/" target="_blank"><%= fa_icon "instagram 2x", alt: "Instagram" %></a>
      </div>
<% if registration_open? %>
      <a class ="btn btn-register" href="/registration_form"><% if waitlist_open? %>Join the waitlist<% else %>Register now<% end %></a>
<% end %>
    </div>
  </nav>
</div>
