<div class="container-fluid container-footer">
  <div class="row footer-contact">
    <div class="col-auto"><span>Contact Us:</span></div>
    <div class="col-auto"><a href="mailto:secretariat-mitmunc@mit.edu"><%= fa_icon "envelope", text: "mitmunc-secretariat@mit.edu" %></a></div>
    <div class="col-auto"><a href="tel:6015648686" ><%= fa_icon "phone", text: "(601) 564-8MUN" %></a></div>
  </div>
  <div class="row footer-copyright pb-1">
    <div class="col-auto"><small>(c) 2018 MIT Model United Nations</small></div>
    <div class="col-auto"><small>Built with <%= fa_icon "heart", alt: "love" %> by Rachel Simpson '18 & Áron Ricardo Perez-Lopez '20</small></div>
    <div class="col-auto"><small><a href="https://github.com/MITMUNC/mitmunc-website/"><%= fa_icon "github", text: "GitHub" %></a></small></div>
  </div>
</div>
